*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
   /* width:  300px */
}
body{
 font-family: sans-serif;
}
.top__cointainer{
    /* display: flex; */
    /* flex-direction: column; */
    
}
.up__container{
    display: flex;
}
.img__box{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80vh;

}
.down__container{
    display: flex;
}
.first__row , .second__row {
display: flex;
overflow: hidden;
width: 100%;
height: 50%;
}
.first__row{
    background-color: red;
}
.second__row{
    background-color: rgb(255, 204, 0);
}
.photos{
    width: 50%;
}
.photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.red__box{
    color: white;
    background:  rgb(255, 99, 99);
    padding:  30px 60px;
    text-align: start;
    font-size: 28px;
    width: 30%;
   
   display: flex; 
}
.blue__box{
    color: white;
    background-color: rgb(0, 0, 62);
    padding: 25px 55px;
    text-align: center;
    line-height: 1.5;
    width:70%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;


  
    
   
}
.down__box__img{
    width: 30%;
}
.down__box__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    font-size: 60px;

}
h2{
    align-self: flex-end;
}
.down__container{
    width: 100%;
    height: 300px;
}